.letterspacing-1px {
    letter-spacing: 1px;
}
.letterspacing-2px {
    letter-spacing: 2px;
}
.letterspacing-3px {
    letter-spacing: 3px;
}
.letterspacing-4px {
    letter-spacing: 4px;
}
.letterspacing-5px {
    letter-spacing: 5px;
}
.letterspacing-6px {
    letter-spacing: 6px;
}
.letterspacing-7px {
    letter-spacing: 7px;
}
.letterspacing-8px {
    letter-spacing: 8px;
}
.letterspacing-9px {
    letter-spacing: 9px;
}
.letterspacing-10px {
    letter-spacing: 10px;
}
.letterspacing-11px {
    letter-spacing: 11px;
}
.letterspacing-12px {
    letter-spacing: 12px;
}
.letterspacing-13px {
    letter-spacing: 13px;
}
.letterspacing-14px {
    letter-spacing: 14px;
}
.letterspacing-15px {
    letter-spacing: 15px;
}
.letterspacing-16px {
    letter-spacing: 16px;
}
.letterspacing-17px {
    letter-spacing: 17px;
}
.letterspacing-18px {
    letter-spacing: 18px;
}
.letterspacing-19px {
    letter-spacing: 19px;
}
.letterspacing-20px {
    letter-spacing: 20px;
}
.letterspacing-21px {
    letter-spacing: 21px;
}
.letterspacing-22px {
    letter-spacing: 22px;
}
.letterspacing-23px {
    letter-spacing: 23px;
}
.letterspacing-24px {
    letter-spacing: 24px;
}
.letterspacing-25px {
    letter-spacing: 25px;
}
.letterspacing-26px {
    letter-spacing: 26px;
}
.letterspacing-27px {
    letter-spacing: 27px;
}
.letterspacing-28px {
    letter-spacing: 28px;
}
.letterspacing-29px {
    letter-spacing: 29px;
}
.letterspacing-30px {
    letter-spacing: 30px;
}


@media (min-width: 374px) {
    .letterspacing-xs-1px {
        letter-spacing: 1px;
    }
    .letterspacing-xs-2px {
        letter-spacing: 2px;
    }
    .letterspacing-xs-3px {
        letter-spacing: 3px;
    }
    .letterspacing-xs-4px {
        letter-spacing: 4px;
    }
    .letterspacing-xs-5px {
        letter-spacing: 5px;
    }
    .letterspacing-xs-6px {
        letter-spacing: 6px;
    }
    .letterspacing-xs-7px {
        letter-spacing: 7px;
    }
    .letterspacing-xs-8px {
        letter-spacing: 8px;
    }
    .letterspacing-xs-9px {
        letter-spacing: 9px;
    }
    .letterspacing-xs-10px {
        letter-spacing: 10px;
    }
    .letterspacing-xs-11px {
        letter-spacing: 11px;
    }
    .letterspacing-xs-12px {
        letter-spacing: 12px;
    }
    .letterspacing-xs-13px {
        letter-spacing: 13px;
    }
    .letterspacing-xs-14px {
        letter-spacing: 14px;
    }
    .letterspacing-xs-15px {
        letter-spacing: 15px;
    }
    .letterspacing-xs-16px {
        letter-spacing: 16px;
    }
    .letterspacing-xs-17px {
        letter-spacing: 17px;
    }
    .letterspacing-xs-18px {
        letter-spacing: 18px;
    }
    .letterspacing-xs-19px {
        letter-spacing: 19px;
    }
    .letterspacing-xs-20px {
        letter-spacing: 20px;
    }
    .letterspacing-xs-21px {
        letter-spacing: 21px;
    }
    .letterspacing-xs-22px {
        letter-spacing: 22px;
    }
    .letterspacing-xs-23px {
        letter-spacing: 23px;
    }
    .letterspacing-xs-24px {
        letter-spacing: 24px;
    }
    .letterspacing-xs-25px {
        letter-spacing: 25px;
    }
    .letterspacing-xs-26px {
        letter-spacing: 26px;
    }
    .letterspacing-xs-27px {
        letter-spacing: 27px;
    }
    .letterspacing-xs-28px {
        letter-spacing: 28px;
    }
    .letterspacing-xs-29px {
        letter-spacing: 29px;
    }
    .letterspacing-xs-30px {
        letter-spacing: 30px;
    }
    
}

@media (min-width: 576px) {
    .letterspacing-sm-1px {
        letter-spacing: 1px;
    }
    .letterspacing-sm-2px {
        letter-spacing: 2px;
    }
    .letterspacing-sm-3px {
        letter-spacing: 3px;
    }
    .letterspacing-sm-4px {
        letter-spacing: 4px;
    }
    .letterspacing-sm-5px {
        letter-spacing: 5px;
    }
    .letterspacing-sm-6px {
        letter-spacing: 6px;
    }
    .letterspacing-sm-7px {
        letter-spacing: 7px;
    }
    .letterspacing-sm-8px {
        letter-spacing: 8px;
    }
    .letterspacing-sm-9px {
        letter-spacing: 9px;
    }
    .letterspacing-sm-10px {
        letter-spacing: 10px;
    }
    .letterspacing-sm-11px {
        letter-spacing: 11px;
    }
    .letterspacing-sm-12px {
        letter-spacing: 12px;
    }
    .letterspacing-sm-13px {
        letter-spacing: 13px;
    }
    .letterspacing-sm-14px {
        letter-spacing: 14px;
    }
    .letterspacing-sm-15px {
        letter-spacing: 15px;
    }
    .letterspacing-sm-16px {
        letter-spacing: 16px;
    }
    .letterspacing-sm-17px {
        letter-spacing: 17px;
    }
    .letterspacing-sm-18px {
        letter-spacing: 18px;
    }
    .letterspacing-sm-19px {
        letter-spacing: 19px;
    }
    .letterspacing-sm-20px {
        letter-spacing: 20px;
    }
    .letterspacing-sm-21px {
        letter-spacing: 21px;
    }
    .letterspacing-sm-22px {
        letter-spacing: 22px;
    }
    .letterspacing-sm-23px {
        letter-spacing: 23px;
    }
    .letterspacing-sm-24px {
        letter-spacing: 24px;
    }
    .letterspacing-sm-25px {
        letter-spacing: 25px;
    }
    .letterspacing-sm-26px {
        letter-spacing: 26px;
    }
    .letterspacing-sm-27px {
        letter-spacing: 27px;
    }
    .letterspacing-sm-28px {
        letter-spacing: 28px;
    }
    .letterspacing-sm-29px {
        letter-spacing: 29px;
    }
    .letterspacing-sm-30px {
        letter-spacing: 30px;
    }
    
}

@media (min-width: 768px) {
    .letterspacing-md-1px {
        letter-spacing: 1px;
    }
    .letterspacing-md-2px {
        letter-spacing: 2px;
    }
    .letterspacing-md-3px {
        letter-spacing: 3px;
    }
    .letterspacing-md-4px {
        letter-spacing: 4px;
    }
    .letterspacing-md-5px {
        letter-spacing: 5px;
    }
    .letterspacing-md-6px {
        letter-spacing: 6px;
    }
    .letterspacing-md-7px {
        letter-spacing: 7px;
    }
    .letterspacing-md-8px {
        letter-spacing: 8px;
    }
    .letterspacing-md-9px {
        letter-spacing: 9px;
    }
    .letterspacing-md-10px {
        letter-spacing: 10px;
    }
    .letterspacing-md-11px {
        letter-spacing: 11px;
    }
    .letterspacing-md-12px {
        letter-spacing: 12px;
    }
    .letterspacing-md-13px {
        letter-spacing: 13px;
    }
    .letterspacing-md-14px {
        letter-spacing: 14px;
    }
    .letterspacing-md-15px {
        letter-spacing: 15px;
    }
    .letterspacing-md-16px {
        letter-spacing: 16px;
    }
    .letterspacing-md-17px {
        letter-spacing: 17px;
    }
    .letterspacing-md-18px {
        letter-spacing: 18px;
    }
    .letterspacing-md-19px {
        letter-spacing: 19px;
    }
    .letterspacing-md-20px {
        letter-spacing: 20px;
    }
    .letterspacing-md-21px {
        letter-spacing: 21px;
    }
    .letterspacing-md-22px {
        letter-spacing: 22px;
    }
    .letterspacing-md-23px {
        letter-spacing: 23px;
    }
    .letterspacing-md-24px {
        letter-spacing: 24px;
    }
    .letterspacing-md-25px {
        letter-spacing: 25px;
    }
    .letterspacing-md-26px {
        letter-spacing: 26px;
    }
    .letterspacing-md-27px {
        letter-spacing: 27px;
    }
    .letterspacing-md-28px {
        letter-spacing: 28px;
    }
    .letterspacing-md-29px {
        letter-spacing: 29px;
    }
    .letterspacing-md-30px {
        letter-spacing: 30px;
    }
    
}

@media (min-width: 992px) {
    .letterspacing-lg-1px {
        letter-spacing: 1px;
    }
    .letterspacing-lg-2px {
        letter-spacing: 2px;
    }
    .letterspacing-lg-3px {
        letter-spacing: 3px;
    }
    .letterspacing-lg-4px {
        letter-spacing: 4px;
    }
    .letterspacing-lg-5px {
        letter-spacing: 5px;
    }
    .letterspacing-lg-6px {
        letter-spacing: 6px;
    }
    .letterspacing-lg-7px {
        letter-spacing: 7px;
    }
    .letterspacing-lg-8px {
        letter-spacing: 8px;
    }
    .letterspacing-lg-9px {
        letter-spacing: 9px;
    }
    .letterspacing-lg-10px {
        letter-spacing: 10px;
    }
    .letterspacing-lg-11px {
        letter-spacing: 11px;
    }
    .letterspacing-lg-12px {
        letter-spacing: 12px;
    }
    .letterspacing-lg-13px {
        letter-spacing: 13px;
    }
    .letterspacing-lg-14px {
        letter-spacing: 14px;
    }
    .letterspacing-lg-15px {
        letter-spacing: 15px;
    }
    .letterspacing-lg-16px {
        letter-spacing: 16px;
    }
    .letterspacing-lg-17px {
        letter-spacing: 17px;
    }
    .letterspacing-lg-18px {
        letter-spacing: 18px;
    }
    .letterspacing-lg-19px {
        letter-spacing: 19px;
    }
    .letterspacing-lg-20px {
        letter-spacing: 20px;
    }
    .letterspacing-lg-21px {
        letter-spacing: 21px;
    }
    .letterspacing-lg-22px {
        letter-spacing: 22px;
    }
    .letterspacing-lg-23px {
        letter-spacing: 23px;
    }
    .letterspacing-lg-24px {
        letter-spacing: 24px;
    }
    .letterspacing-lg-25px {
        letter-spacing: 25px;
    }
    .letterspacing-lg-26px {
        letter-spacing: 26px;
    }
    .letterspacing-lg-27px {
        letter-spacing: 27px;
    }
    .letterspacing-lg-28px {
        letter-spacing: 28px;
    }
    .letterspacing-lg-29px {
        letter-spacing: 29px;
    }
    .letterspacing-lg-30px {
        letter-spacing: 30px;
    }
    
}

@media (min-width: 1200px) {
    .letterspacing-xl-1px {
        letter-spacing: 1px;
    }
    .letterspacing-xl-2px {
        letter-spacing: 2px;
    }
    .letterspacing-xl-3px {
        letter-spacing: 3px;
    }
    .letterspacing-xl-4px {
        letter-spacing: 4px;
    }
    .letterspacing-xl-5px {
        letter-spacing: 5px;
    }
    .letterspacing-xl-6px {
        letter-spacing: 6px;
    }
    .letterspacing-xl-7px {
        letter-spacing: 7px;
    }
    .letterspacing-xl-8px {
        letter-spacing: 8px;
    }
    .letterspacing-xl-9px {
        letter-spacing: 9px;
    }
    .letterspacing-xl-10px {
        letter-spacing: 10px;
    }
    .letterspacing-xl-11px {
        letter-spacing: 11px;
    }
    .letterspacing-xl-12px {
        letter-spacing: 12px;
    }
    .letterspacing-xl-13px {
        letter-spacing: 13px;
    }
    .letterspacing-xl-14px {
        letter-spacing: 14px;
    }
    .letterspacing-xl-15px {
        letter-spacing: 15px;
    }
    .letterspacing-xl-16px {
        letter-spacing: 16px;
    }
    .letterspacing-xl-17px {
        letter-spacing: 17px;
    }
    .letterspacing-xl-18px {
        letter-spacing: 18px;
    }
    .letterspacing-xl-19px {
        letter-spacing: 19px;
    }
    .letterspacing-xl-20px {
        letter-spacing: 20px;
    }
    .letterspacing-xl-21px {
        letter-spacing: 21px;
    }
    .letterspacing-xl-22px {
        letter-spacing: 22px;
    }
    .letterspacing-xl-23px {
        letter-spacing: 23px;
    }
    .letterspacing-xl-24px {
        letter-spacing: 24px;
    }
    .letterspacing-xl-25px {
        letter-spacing: 25px;
    }
    .letterspacing-xl-26px {
        letter-spacing: 26px;
    }
    .letterspacing-xl-27px {
        letter-spacing: 27px;
    }
    .letterspacing-xl-28px {
        letter-spacing: 28px;
    }
    .letterspacing-xl-29px {
        letter-spacing: 29px;
    }
    .letterspacing-xl-30px {
        letter-spacing: 30px;
    }
    
}

@media (min-width: 1400px) {
    .letterspacing-xxl-1px {
        letter-spacing: 1px;
    }
    .letterspacing-xxl-2px {
        letter-spacing: 2px;
    }
    .letterspacing-xxl-3px {
        letter-spacing: 3px;
    }
    .letterspacing-xxl-4px {
        letter-spacing: 4px;
    }
    .letterspacing-xxl-5px {
        letter-spacing: 5px;
    }
    .letterspacing-xxl-6px {
        letter-spacing: 6px;
    }
    .letterspacing-xxl-7px {
        letter-spacing: 7px;
    }
    .letterspacing-xxl-8px {
        letter-spacing: 8px;
    }
    .letterspacing-xxl-9px {
        letter-spacing: 9px;
    }
    .letterspacing-xxl-10px {
        letter-spacing: 10px;
    }
    .letterspacing-xxl-11px {
        letter-spacing: 11px;
    }
    .letterspacing-xxl-12px {
        letter-spacing: 12px;
    }
    .letterspacing-xxl-13px {
        letter-spacing: 13px;
    }
    .letterspacing-xxl-14px {
        letter-spacing: 14px;
    }
    .letterspacing-xxl-15px {
        letter-spacing: 15px;
    }
    .letterspacing-xxl-16px {
        letter-spacing: 16px;
    }
    .letterspacing-xxl-17px {
        letter-spacing: 17px;
    }
    .letterspacing-xxl-18px {
        letter-spacing: 18px;
    }
    .letterspacing-xxl-19px {
        letter-spacing: 19px;
    }
    .letterspacing-xxl-20px {
        letter-spacing: 20px;
    }
    .letterspacing-xxl-21px {
        letter-spacing: 21px;
    }
    .letterspacing-xxl-22px {
        letter-spacing: 22px;
    }
    .letterspacing-xxl-23px {
        letter-spacing: 23px;
    }
    .letterspacing-xxl-24px {
        letter-spacing: 24px;
    }
    .letterspacing-xxl-25px {
        letter-spacing: 25px;
    }
    .letterspacing-xxl-26px {
        letter-spacing: 26px;
    }
    .letterspacing-xxl-27px {
        letter-spacing: 27px;
    }
    .letterspacing-xxl-28px {
        letter-spacing: 28px;
    }
    .letterspacing-xxl-29px {
        letter-spacing: 29px;
    }
    .letterspacing-xxl-30px {
        letter-spacing: 30px;
    }
}

@media (min-width: 1650px) {
    .letterspacing-xxxl-1px {
        letter-spacing: 1px;
    }
    .letterspacing-xxxl-2px {
        letter-spacing: 2px;
    }
    .letterspacing-xxxl-3px {
        letter-spacing: 3px;
    }
    .letterspacing-xxxl-4px {
        letter-spacing: 4px;
    }
    .letterspacing-xxxl-5px {
        letter-spacing: 5px;
    }
    .letterspacing-xxxl-6px {
        letter-spacing: 6px;
    }
    .letterspacing-xxxl-7px {
        letter-spacing: 7px;
    }
    .letterspacing-xxxl-8px {
        letter-spacing: 8px;
    }
    .letterspacing-xxxl-9px {
        letter-spacing: 9px;
    }
    .letterspacing-xxxl-10px {
        letter-spacing: 10px;
    }
    .letterspacing-xxxl-11px {
        letter-spacing: 11px;
    }
    .letterspacing-xxxl-12px {
        letter-spacing: 12px;
    }
    .letterspacing-xxxl-13px {
        letter-spacing: 13px;
    }
    .letterspacing-xxxl-14px {
        letter-spacing: 14px;
    }
    .letterspacing-xxxl-15px {
        letter-spacing: 15px;
    }
    .letterspacing-xxxl-16px {
        letter-spacing: 16px;
    }
    .letterspacing-xxxl-17px {
        letter-spacing: 17px;
    }
    .letterspacing-xxxl-18px {
        letter-spacing: 18px;
    }
    .letterspacing-xxxl-19px {
        letter-spacing: 19px;
    }
    .letterspacing-xxxl-20px {
        letter-spacing: 20px;
    }
    .letterspacing-xxxl-21px {
        letter-spacing: 21px;
    }
    .letterspacing-xxxl-22px {
        letter-spacing: 22px;
    }
    .letterspacing-xxxl-23px {
        letter-spacing: 23px;
    }
    .letterspacing-xxxl-24px {
        letter-spacing: 24px;
    }
    .letterspacing-xxxl-25px {
        letter-spacing: 25px;
    }
    .letterspacing-xxxl-26px {
        letter-spacing: 26px;
    }
    .letterspacing-xxxl-27px {
        letter-spacing: 27px;
    }
    .letterspacing-xxxl-28px {
        letter-spacing: 28px;
    }
    .letterspacing-xxxl-29px {
        letter-spacing: 29px;
    }
    .letterspacing-xxxl-30px {
        letter-spacing: 30px;
    }
}
