.line_height-05 {
    line-height: 0.5;
}
.line_height-1 {
    line-height: 1;
}
.line_height-15 {
    line-height: 1.5;
}
.line_height-2 {
    line-height: 2;
}
.line_height-25 {
    line-height: 25;
}
.line_height-3 {
    line-height: 3;
}
@media (min-width: 374px){
    .line_height-xs-05 {
        line-height: 0.5;
    }
    .line_height-xs-1 {
        line-height: 1;
    }
    .line_height-xs-15 {
        line-height: 1.5;
    }
    .line_height-xs-2 {
        line-height: 2;
    }
    .line_height-xs-25 {
        line-height: 25;
    }
    .line_height-xs-3 {
        line-height: 3;
    }
}
@media (min-width: 576px){
    .line_height-sm-05 {
        line-height: 0.5;
    }
    .line_height-sm-1 {
        line-height: 1;
    }
    .line_height-sm-15 {
        line-height: 1.5;
    }
    .line_height-sm-2 {
        line-height: 2;
    }
    .line_height-sm-25 {
        line-height: 25;
    }
    .line_height-sm-3 {
        line-height: 3;
    }
}
@media (min-width: 768px){
    .line_height-md-05 {
        line-height: 0.5;
    }
    .line_height-md-1 {
        line-height: 1;
    }
    .line_height-md-15 {
        line-height: 1.5;
    }
    .line_height-md-2 {
        line-height: 2;
    }
    .line_height-md-25 {
        line-height: 25;
    }
    .line_height-md-3 {
        line-height: 3;
    }
}
@media (min-width: 992px){
    .line_height-lg-05 {
        line-height: 0.5;
    }
    .line_height-lg-1 {
        line-height: 1;
    }
    .line_height-lg-15 {
        line-height: 1.5;
    }
    .line_height-lg-2 {
        line-height: 2;
    }
    .line_height-lg-25 {
        line-height: 25;
    }
    .line_height-lg-3 {
        line-height: 3;
    }
}
@media (min-width: 1200px){
    .line_height-xl-05 {
        line-height: 0.5;
    }
    .line_height-xl-1 {
        line-height: 1;
    }
    .line_height-xl-15 {
        line-height: 1.5;
    }
    .line_height-xl-2 {
        line-height: 2;
    }
    .line_height-xl-25 {
        line-height: 25;
    }
    .line_height-xl-3 {
        line-height: 3;
    }
}
@media (min-width: 1400px){
    .line_height-xxl-05 {
        line-height: 0.5;
    }
    .line_height-xxl-1 {
        line-height: 1;
    }
    .line_height-xxl-15 {
        line-height: 1.5;
    }
    .line_height-xxl-2 {
        line-height: 2;
    }
    .line_height-xxl-25 {
        line-height: 25;
    }
    .line_height-xxl-3 {
        line-height: 3;
    }
}
@media (min-width: 1650px){
    .line_height-xxxl-05 {
        line-height: 0.5;
    }
    .line_height-xxxl-1 {
        line-height: 1;
    }
    .line_height-xxxl-15 {
        line-height: 1.5;
    }
    .line_height-xxxl-2 {
        line-height: 2;
    }
    .line_height-xxxl-25 {
        line-height: 25;
    }
    .line_height-xxxl-3 {
        line-height: 3;
    }
}
